/* Root Variables */
:root {
  --colorOne: rgb(45, 162, 180);
}

body {
  margin: 0;
  background: linear-gradient(15deg, #d59027, #9a968b);
  font-weight: 600;
  font-family: "Gill Sans", sans-serif;
}

/* Header */
header {
  background-color: var(--colorOne);
  padding: 20px;
  border: 5px black solid;
}

header .header-section h1 {
  text-align: center;
}

.header .header-nav {
  text-align: center;
  margin-bottom: 10px;
}

.header .header-nav div {
  padding-left: 1%;
  padding-right: 1%;
  display: inline-block;
}

.header .header-nav div:hover {
  background-color: yellow;
}

/* Footer */
footer {
  background-color: var(--colorOne);
  text-align: center;
  padding: 20px;
  border: 5px black solid;
}

/* Signup and login */
.signup-card, .login {
  text-align: center;
}

.signup input, .login input {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 43%;
  border: black 3px solid;
}

.signup-form-btn, .login-form-btn {
  border: black 3px solid;
  margin-bottom: 200px;
}

/* Home */
.home h1 {
  text-align: center;
}

.home p {
  margin-left: 10px;
  margin-right: 10px;
}

.home .home-toc {
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}

.home .home-toc h4 {
  text-decoration: underline;
}

.home .home-toc li {
  list-style-type: none;
}

/* Literature Review Database Tables */
.table {
margin: 25px;
}

.table-headers th {
  background-color: var(--colorOne);
}

.table-body {
  background-color: rgba(156, 153, 145, 0.771);
}


/* Literature Review Form Add */
.litreview-form input, textarea {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 43%;
  border: black 3px solid;
}

.litreview-form .litreview-form-btn {
  border: black 3px solid;
  margin-bottom: 20px;
  margin-left: 43%;
}