body {
  margin: 0;
  background-color: gray;
  font-weight: 600;
  font-family: "Gill Sans", sans-serif;
}

/* Root Variables */

/* Header */
header {
  background-color: teal;
  text-align: center;
}

/* Footer */
footer {
  background-color: green;
  text-align: center;
}

/* NavBar 8?


/* Literature Review Database Tables */
.table-headers th {
  background-color: teal;
}

.table-body {
  background-color: goldenrod;
}
