/* Root Variables */

:root {
  --backgroundColor: linear-gradient(15deg, #d59027, #9a968b);
  --colorOne: rgb(45, 162, 180);
}

body {
  margin: 0;
  background: linear-gradient(15deg, #d59027, #9a968b);
  font-weight: 600;
  font-family: "Gill Sans", sans-serif;
}

/* ==================================================== */

/* CSS Table of Contents

OLD DELETE WHEN NOT USING ANYMORE
1. Header
2. Footer
3. Signup and Login
/* ==================================================== */

/* CSS Table of Contents */

/*
1. class 'page'
2. Landing Page - Signup and Login
3. Sidebar
4. Header
5. Footer
*/

/* ==================================================== */

/* ----------------------------------------------------- */
/* 1. class 'page' */
/* ----------------------------------------------------- */

.page {
  background-color: var(--backgroundColor);
}

.page .flexbox {
  display: flex;
}

/* ----------------------------------------------------- */
/* 2. Landing Page - Signup and Login */
/* ----------------------------------------------------- */


/* ----------------------------------------------------- */
/* 3. Sidebar */
/* ----------------------------------------------------- */

#sidebar .sidebar-link {
  display: block;
  margin: 10px;
}

#sidebar .sidebar-link button {
  height: 50px;
  width: 200px;
  background-color: gray;
}

#sidebar .sidebar-link button:hover {
  background-color: aquamarine;
}

/* ----------------------------------------------------- */
/* 4. Header */
/* ----------------------------------------------------- */

header {
  background-color: var(--colorOne);
  padding: 20px;
  border: 5px black solid;
}

header .header-section h1 {
  text-align: center;
}

.header .header-nav {
  text-align: center;
  margin-bottom: 10px;
}

.header .header-nav div {
  padding-left: 1%;
  padding-right: 1%;
  display: inline-block;
}

.header .header-nav div:hover {
  background-color: yellow;
}

/* ----------------------------------------------------- */
/* 5. Footer */
/* ----------------------------------------------------- */

footer {
  background-color: var(--colorOne);
  text-align: center;
  padding: 20px;
  border: 5px black solid;
}

.icon {
  height: 50px;
  width: 75px;
  margin-bottom: 10px;
}

#github-icon {
  color: black
}

#linkedin-icon {
  color: blue
}

#linkedin-icon:hover, #github-icon:hover {
  color: yellow
}

/* Literature Review Database Tables */
.table {
margin: 25px;
}

.table-headers th {
  background-color: var(--colorOne);
}

.table-body {
  background-color: rgba(156, 153, 145, 0.771);
}


/* Literature Review Form Add */
.litreview-form input, .litreview-form textarea, .litreview-form select {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 43%;
  border: black 3px solid;
}

.litreview-form .litreview-form-btn {
  border: black 3px solid;
  margin-bottom: 20px;
  margin-left: 43%;
}

/* Add Project */
.add-project-form label, .add-project-form button {
  margin-left: var(--input-margin-left);
}

.add-project-form input {
  display: var(--input-display);
  margin-top: var(--input-margin-top);
  margin-bottom: var(--input-margin-bottom);
  margin-left: var(--input-margin-left);
  border: var(--input-border);
}

/* Stats */
.stat-sections h1 {
  text-decoration: underline;
  text-align: center;
}

.stat-sections div {
  text-align: center;
}

.stat-table-result h3 {
  background-color: var(--colorOne);
}

/* Comment */
.comment label, .comment button {
  margin-left: var(--input-margin-left);
}

.comment select, .comment textarea {
  display: var(--input-display);
  margin-top: var(--input-margin-top);
  margin-bottom: var(--input-margin-bottom);
  margin-left: var(--input-margin-left);
  border: var(--input-border);
}
